    @font-face {
        font-family: 'PEL';
        src: url('../utils/fonts/Poppins-ExtraLight.ttf') format('truetype');
    }
    
    body {
        -webkit-user-select: none;
        user-select: none;
        background: none;
        background-size: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
        /*background-image: url(https://wallpaperaccess.com/full/707055.jpg);*/
    }
    
    div#shopManagerHUD {
        opacity: 0;
        display: none;
    }
    
    div#shopManagerHUD {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 25%;
        top: 25%;
    }
    
    div#shopManagerHUD>div>p {
        font-family: PEL;
        color: white;
        font-size: 24px;
        background: #0000005c;
        padding: 4px;
        border-bottom: 1px solid #ffffff;
    }
    
    div#shopManagerHUD>div.inventoryBox,
    div#shopManagerHUD>div.shopitemBox,
    div#shopManagerHUD>div.shopCashBox {
        width: 450px;
        /* padding: 0; */
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.425), rgba(86, 0, 121, 0.329));
        text-align: center;
        /* padding-bottom: 12px; */
        height: 485px;
        /* margin: auto; */
        display: table-cell;
        top: 180px;
    }
    
    div#shopManagerHUD>div.inventoryBox {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    
    div#shopManagerHUD>div.shopCashBox {
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        width: 25%;
    }
    
    div#shopManagerHUD>div.shopCashBox>.CashBox {
        background: #00000038;
        width: 200px;
        border: none;
        outline: none;
        border-radius: 35px;
        color: green;
        text-align: center;
        font-size: 25px;
        font-weight: 900;
        font-family: 'PEL';
    }
    
    div#shopManagerHUD>div.shopCashBox>.payOutButton {
        background: transparent;
        width: 200px;
        border: none;
        outline: none;
        color: white;
        text-align: center;
        font-size: 20px;
        font-family: 'PEL';
        transition: 300ms;
        border-bottom: 1px solid transparent;
    }
    
    div#shopManagerHUD>div.shopCashBox>.payOutButton:hover {
        color: white;
        border-color: green;
    }
    
    div#shopManagerHUD>div.shopCashBox>hr {
        width: 55%;
        margin-top: 15px;
        margin-bottom: 15px;
        pointer-events: none;
        border-bottom: 1px solid white;
    }
    
    div#shopManagerHUD>div.shopCashBox>.spacerText {
        display: inline-block;
        border-top: 1px solid white;
        width: 85%;
        color: white;
        text-align: center;
        font-size: 25px;
        font-family: 'PEL';
    }
    
    div#shopManagerHUD>div.shopitemBox {
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
    }
    
    div#shopManagerHUD>div.inventoryBox>span {
        position: absolute;
        left: 15px;
        top: 10px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: #a80000;
        transition: all 0.3s ease-in-out;
        font-size: 15px;
    }
    
    div#shopManagerHUD>div.inventoryBox>span:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.05);
    }
    
    div#shopManagerHUD>div.shopCashBox>span {
        color: green;
        font-size: 40px;
    }
    
    div#shopManagerHUD>div.shopCashBox>span:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.05);
    }
    
    div#shopManagerHUD>div>ul>li>button {
        transition: all 0.3s ease-in-out;
        filter: grayscale(0.6);
        opacity: .6;
    }
    
    div#shopManagerHUD>div>ul>li>button {
        background: #383838;
        border: none;
        padding: 0.2rem 0.75rem;
    }
    
    div#shopManagerHUD>div>ul>li>button:hover {
        filter: grayscale(0);
        opacity: .9;
    }
    
    div#shopManagerHUD>div>ul>li>button:hover {
        background: #16793e;
    }
    
    div#shopManagerHUD>div>ul>li>input {
        outline: none;
        width: 90px;
        background: #212121;
        text-align: center;
        color: #d2d2d2;
        font-family: PEL;
        border: 1px solid #0c0c0c !important;
        font-size: 14px;
    }
    
    div#shopManagerHUD>div>ul {
        display: block;
        margin-left: 8px;
        position: relative;
        height: 400px;
        max-height: 400px;
        overflow-y: auto;
    }
    
    div#shopManagerHUD>div>ul>li {
        padding: 1.25rem 1.25rem !important;
        width: 215px;
        float: left;
        margin-left: 8.85px;
        margin-right: 8.85px;
        background: #1d1d1dbd;
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
        opacity: .7;
        border-radius: 35px;
    }
    
    div#shopManagerHUD>div>ul>li>img {
        width: 46px;
    }
    
    div#shopManagerHUD>div>ul>li>span {
        color: white;
        position: absolute;
        left: 0px;
        top: 0;
        font-family: PEL;
        font-size: 16px;
        font-weight: bold;
        padding-left: 20px;
        padding-top: 2px;
        background: #238244;
        padding-right: 6px;
        text-align: center;
        border-top-left-radius: 35px;
    }
    
    div#shopManagerHUD>div>ul>li>span.price {
        right: 0 !important;
        left: unset;
        background: #235682;
        border-top-right-radius: 35px;
        border-top-left-radius: 0px;
        padding-right: 15px;
    }
    
    div#shopManagerHUD>div>ul>li>p {
        color: #ffffff;
        font-family: PEL;
        font-size: 20px;
        margin-top: 10px;
    }
    
     ::-webkit-scrollbar {
        width: 5px;
    }
    
     ::-webkit-scrollbar-track {
        background: rgba(136, 136, 136, 0);
    }
    
     ::-webkit-scrollbar-thumb {
        background: #6d6d6d;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: rgb(85, 85, 85);
    }
    /* Slider */
    
    .slidecontainer {
        width: 100%;
    }
    
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        background: #1d1d1ddb;
        outline: none;
        opacity: 0.6;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    
    .slider:hover {
        opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4c7aaf;
        cursor: pointer;
    }
    
    hr {
        border: none;
        pointer-events: none;
    }