div#shopHUD-BuySelect,
div#shopHUD-SellSelect,
div#shopHUD {
    opacity: 0;
    display: none;
}

div#shopHUD {
    width: 550px;
    padding: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.425), rgba(86, 0, 121, 0.329));
    text-align: center;
    box-shadow: 1px 4px 22px rgba(25, 25, 25, 0.8) !important;
    padding-bottom: 12px;
    border-radius: 35px;
    height: 566.4px;
    margin: auto;
    position: relative;
    top: 212.4px;
}

div#shopHUD>p.title {
    font-family: PEL;
    color: #d2d2d2;
    font-size: 24px;
    padding: 4px;
    border-bottom: 1px solid #ffffff;
}

div#shopHUD-BuySelect,
div#shopHUD-SellSelect {
    width: 100%;
    padding: 10px 0px 0px 0px;
    position: absolute;
    text-align: center;
    padding-bottom: 12px;
    height: 75.5px;
    border-top: 1px solid white;
    bottom: 0px;
}

div#shopHUD-BuySelect>p,
div#shopHUD-SellSelect>p {
    color: #d2d2d2;
    margin-bottom: 0 !important;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-family: PEL;
    font-size: 16px;
    text-align: center;
}

div#shopHUD>span {
    position: absolute;
    left: 15px;
    top: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #a80000;
    opacity: .6;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

div#shopHUD>span:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.05);
}

div#shopHUD-BuySelect>button,
div#shopHUD-SellSelect>button {
    transition: all 0.3s ease-in-out;
    filter: grayscale(0.6);
    opacity: .6;
    border-radius: 35px;
}

div#shopHUD-BuySelect>button:hover,
div#shopHUD-SellSelect>button:hover {
    filter: grayscale(0);
    opacity: .9;
}

div#shopHUD-BuySelect>input,
div#shopHUD-SellSelect>input {
    outline: none;
    border: none !important;
    width: 25%;
    background: #21212187;
    border-radius: 35px;
    text-align: center;
    color: #ffffff;
    font-family: PEL;
    font-weight: bold;
}

div#shopHUD>ul {
    display: block;
    margin-left: 8.85px;
    position: relative;
    height: 500px;
    max-height: 495px;
    overflow-y: scroll;
}

div#shopHUD>ul>li {
    padding: 1.25rem 1.25rem !important;
    width: 245px;
    height: 145px;
    float: left;
    margin-left: 8.85px;
    margin-right: 8.85px;
    background: #00000066;
    border-radius: 35px;
    margin-top: 8.85px;
    margin-bottom: 8.85px;
    padding-bottom: 0px !important;
    transition: all 5s ease-in-out;
    opacity: .7;
    text-overflow: ellipsis;
    overflow: hidden;
}

div#shopHUD>ul>li:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.225), rgba(86, 0, 121, 0.225));
    opacity: 1;
}

div#shopHUD>ul>li>img {
    width: 60px;
    padding-top: 20px;
}

div#shopHUD>ul>li>span,
div#shopHUD>ul>li>span.price {
    border-top-left-radius: 35px;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    font-family: PEL;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 2px;
    background: #238244;
    padding-right: 6px;
    padding-bottom: 1px;
    text-align: left;
    width: 85px;
}

div#shopHUD>ul>li>span.price {
    top: 26px;
    left: 0;
    background: #235682;
    border-top-left-radius: 0;
}

div#shopHUD>ul>li>p {
    color: #ffffff;
    font-family: PEL;
    font-size: 20px;
    margin-top: 10px;
}