/*PlayerSearchInventoryCEFBox*/

div#PlayerSearchInventoryCEFBox {
    opacity: 0;
}

div#PlayerSearchInventoryCEFBox {
    display: none;
}

div#PlayerSearchInventoryCEFBox {
    width: 650;
    top: 20%;
    left: 50%;
    margin-left: -375px;
    padding: 20px;
    position: absolute;
    background: #171616db;
    text-align: center;
}

div#PlayerSearchInventoryCEFBox>p.title {
    font-size: 20px;
    font-family: 'PEL';
    letter-spacing: 1px;
    font-weight: bold;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2px;
}

div#PlayerSearchInventoryCEFBox>p.title {
    background-image: linear-gradient(to right, #ffffff, #ffffff) !important;
}

div#PlayerSearchInventoryCEFBox>hr {
    border: 1px solid transparent !important;
    border-image: linear-gradient(to right, #ffffff, #ffffff) !important;
    border-image-slice: 1 !important;
}

div#PlayerSearchInventoryCEFBox>hr {
    border: 1px solid transparent;
    border-image: linear-gradient( to right, #ffffff, #ffffff) 1 100%;
    border-image-slice: 1;
    border-left: none;
    border-right: none;
    border-bottom: none;
    opacity: .75;
}

div#PlayerSearchInventoryCEFBox>div.container>ul.list-group {
    background-color: rgba(255, 255, 255, 0.1);
    height: 210px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
    max-height: 210;
    overflow-y: auto;
    display: block;
}

div#PlayerSearchInventoryCEFBox>div.container>ul.list-group {
    height: 310px !important;
    max-height: 310px !important;
}

div#PlayerSearchInventoryCEFBox>div.container>ul.list-group>li.list-group-item {
    width: 30%;
    margin-left: 2%;
    margin-top: 1%;
    background: rgba(84, 84, 84, 0.2);
    border: 2px solid #333333;
    border-radius: 4px;
    float: left;
    padding: 0px 0px;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 10px;
    max-height: 135px;
    height: 135px;
    margin-bottom: 1%;
    transition: all 0.3s ease-in-out;
}

div#PlayerSearchInventoryCEFBox>div.container>ul.list-group>li.list-group-item {
    padding-top: 15px !important;
    max-height: 140px;
    height: 140px;
}

div#PlayerSearchInventoryCEFBox>div.container>ul.list-group>li.list-group-item>img {
    width: 32px;
}

div#PlayerSearchInventoryCEFBox>div.container>ul.list-group>li.list-group-item>button {
    border-color: #0e0e0ea8;
    background: #3a3a3a;
    font-size: 12px;
    opacity: .6;
    transition: all 0.3s ease-in-out;
}

div#PlayerSearchInventoryCEFBox>div.container>ul.list-group>li.list-group-item>button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: #2cbf60b5;
    opacity: 1;
}

div#PlayerSearchInventoryCEFBox>div.container>ul.list-group>li.list-group-item>input {
    width: 40%;
    outline: none;
    border: 1px solid #0e0e0ea8;
    background: #2b2b2b;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'PEL';
    font-size: 13px;
    text-align: center;
    color: #d2d2d2;
    font-weight: bold;
}

div#PlayerSearchInventoryCEFBox>div.container>ul.list-group>li.list-group-item>p.name {
    color: #d2d2d2;
    font-family: 'PEL';
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 8px;
}

div#PlayerSearchInventoryCEFBox>p.closebtn {
    display: table;
    color: red;
    text-align: left;
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 14px;
    transition: all 0.5s ease-in-out;
    font-size: 14px;
}

div#PlayerSearchInventoryCEFBox>p.closebtn:hover {
    cursor: pointer;
    background: rgba(214, 28, 28, 0.72);
    color: #fff;
    opacity: 1;
}


/*PlayerSearchInventoryCEFBox-END*/