@font-face {
    font-family: 'PEL';
    src: url('../utils/fonts/Poppins-ExtraLight.ttf') format('truetype');
}

@keyframes flickerAnimationn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 0.95;
        transform: translateX(0%);
    }
}

h4 {
    text-align: center;
    box-sizing: border-box;
    font-family: 'PEL';
    color: rgba(255, 255, 255, 0.80);
    outline: none;
    margin-bottom: 0;
    font-size: 20px;
}

body {
    -webkit-user-select: none;
    user-select: none;
    background: none;
    /*background: url(../utils/img/bg3.jpg);*/
    background-size: cover;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #888;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

::-webkit-scrollbar-thumb {
    background: #6d6d6d;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}