/*VehicleTrunkCEFBox*/

div#VehicleTrunkCEFBox {
    opacity: 0;
}

div#VehicleTrunkCEFBox {
    display: none;
}


/*INVENTORY-ITEMS BOX THINGY*/

#VehicleInventoryBox {
    width: 460px;
    height: 605px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 100;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.425), rgba(86, 0, 121, 0.329));
    text-align: center;
    padding-bottom: 12px;
    left: 450px;
    top: 200px;
    border-radius: 35px;
}

#VehicleInventoryBox>div.weight {
    margin-left: 800px;
}

#VehicleInventoryBox>div.title {
    margin-top: 85px;
    margin-left: -885;
    margin-bottom: -77px;
    font-family: 'PEL';
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#VehicleInventoryBox>div.headContainer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    right: 5;
    background: #00000063;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

#VehicleInventoryBox>div.headContainer>.closebtn {
    position: absolute;
    left: 25px;
    top: 13px;
    color: red;
}

#VehicleInventoryBox>div.headContainer>span {
    font-family: 'PEL';
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

#VehicleInventoryBox>div.ContentArea {
    height: 530px;
    width: 455px;
    position: relative;
    margin-top: 5;
    left: 0px;
}

#VehicleInventoryBox>div.ContentArea>ul.list-group {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#VehicleInventoryBox>div.ContentArea>ul.list-group>li.list-group-item {
    float: left;
    width: 450px;
    border-radius: 35px;
    margin-left: 5px;
    max-height: 240px;
    margin-top: 10px;
    background: #00000024;
    transition: opacity 0.3s 0s ease-in-out;
    justify-content: center;
    align-items: center;
    border: none;
}

#VehicleInventoryBox>div.ContentArea>ul.list-group>li.list-group-item>input {
    width: 40%;
    outline: none;
    border: 1px solid #0e0e0ea8;
    background: #2b2b2b;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'PEL';
    font-size: 13px;
    text-align: center;
    color: #d2d2d2;
    font-weight: bold;
    -webkit-appearance: none;
}

#VehicleInventoryBox>div.ContentArea>ul.list-group>li.list-group-item>button {
    background: #3a3a3a;
    font-size: 12px;
    opacity: .6;
    transition: all 0.3s ease-in-out;
}

#VehicleInventoryBox>div.ContentArea>ul.list-group>li.list-group-item:hover>.btn {
    color: #d2d2d2;
}

#VehicleInventoryBox>div.ContentArea>ul.list-group>li.list-group-item>img {
    width: 48px !important;
    margin-top: 4px;
}

#VehicleInventoryBox>div.ContentArea>ul.list-group>li.list-group-item>p {
    color: #d2d2d2;
    font-family: 'PEL';
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 5px;
}

#VehicleInventoryBox>div.ContentArea>ul.list-group>li.list-group-item>.btn {
    font-size: 16px;
    text-align: center;
    color: #444444bd;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #00000038;
    opacity: .9;
}


/*INVENTORY-ITEMS BOX THINGY END*/


/*VehicleTrunk-ITEMS BOX THINGY*/

#VehicleTrunkBox {
    width: 460px;
    height: 605px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 100;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.425), rgba(86, 0, 121, 0.329));
    text-align: center;
    padding-bottom: 12px;
    right: 450px;
    top: 200px;
    border-radius: 35px;
}

#VehicleTrunkBox>div.weight {
    margin-left: 800px;
}

#VehicleTrunkBox>div.title {
    margin-top: 85px;
    margin-left: -885;
    margin-bottom: -77px;
    font-family: 'PEL';
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#VehicleTrunkBox>div.headContainer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    right: 5;
    background: #00000063;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

#VehicleTrunkBox>div.headContainer>span {
    font-family: 'PEL';
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

#VehicleTrunkBox>div.ContentArea {
    height: 530px;
    width: 455px;
    position: relative;
    margin-top: 5;
    left: 0px;
}

#VehicleTrunkBox>div.ContentArea>ul.list-group {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#VehicleTrunkBox>div.ContentArea>ul.list-group>li.list-group-item {
    float: left;
    width: 450px;
    border-radius: 35px;
    margin-left: 5px;
    max-height: 240px;
    margin-top: 10px;
    background: #00000024;
    transition: opacity 0.3s 0s ease-in-out;
    justify-content: center;
    align-items: center;
    border: none;
}

#VehicleTrunkBox>div.ContentArea>ul.list-group>li.list-group-item>input {
    width: 40%;
    outline: none;
    border: 1px solid #0e0e0ea8;
    background: #2b2b2b;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'PEL';
    font-size: 13px;
    text-align: center;
    color: #d2d2d2;
    font-weight: bold;
    -webkit-appearance: none;
}

#VehicleTrunkBox>div.ContentArea>ul.list-group>li.list-group-item>button {
    background: #3a3a3a;
    font-size: 12px;
    opacity: .6;
    transition: all 0.3s ease-in-out;
}

#VehicleTrunkBox>div.ContentArea>ul.list-group>li.list-group-item:hover>.btn {
    color: #d2d2d2;
}

#VehicleTrunkBox>div.ContentArea>ul.list-group>li.list-group-item>img {
    width: 48px !important;
    margin-top: 4px;
}

#VehicleTrunkBox>div.ContentArea>ul.list-group>li.list-group-item>p {
    color: #d2d2d2;
    font-family: 'PEL';
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 5px;
}

#VehicleTrunkBox>div.ContentArea>ul.list-group>li.list-group-item>.btn {
    font-size: 16px;
    text-align: center;
    color: #444444bd;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #00000038;
    opacity: .9;
}


/*VehicleTrunk-ITEMS BOX THINGY END*/

div#VehicleTrunkCEFBox>p.closebtn {
    display: table;
    color: red;
    text-align: left;
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 14px;
    transition: all 0.5s ease-in-out;
    font-size: 14px;
}

div#VehicleTrunkCEFBox>p.closebtn:hover {
    cursor: pointer;
    background: rgba(214, 28, 28, 0.72);
    color: #fff;
    opacity: 1;
}


/*VehicleTrunkCEFBox-END*/