/* LSPD CARD */

#PoliceCard {
    display: none;
    animation: fadeInLeft 1.5s;
    top: 150px;
    right: 10px;
    width: 485px;
    height: 383px;
    background-image: url(../assets/lspd.png);
    background-size: 100% 100%;
    position: absolute;
    z-index: 10;
}

#PoliceCard-name {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 13.5px;
    font-weight: bold;
    text-align: left;
    top: 25%;
    left: 30px;
}

#PoliceCard-rankname {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 13.5px;
    font-weight: bold;
    text-align: left;
    top: 40%;
    left: 30px;
}

#PoliceCard-serviceNumber {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 13.5px;
    font-weight: bold;
    text-align: left;
    top: 54%;
    left: 30px;
}

#PoliceCard-citizenid {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 13.5px;
    font-weight: bold;
    text-align: left;
    top: 69%;
    left: 30px;
}

#PoliceCard-signature {
    position: absolute;
    color: #5a8ff1;
    font-size: 20px;
    font-family: Sun Deep;
    font-weight: bolder;
    text-align: left;
    top: 82%;
    left: 30px;
}


/* LSPD CARD-END */