@font-face {
    font-family: 'PEL';
    src: url('../../utils/fonts/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'PM';
    src: url('../../utils/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'PT';
    src: url('../../utils/fonts/Poppins-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'OSR';
    src: url('../../utils/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OSL';
    src: url('../../utils/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'DB';
    src: url('../../utils/fonts/db.ttf') format('truetype');
}

@font-face {
    font-family: 'OSSB';
    src: url('../../utils/fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'BNT';
    src: url('../../utils/fonts/bnt.ttf') format('truetype');
}

@font-face {
    font-family: "PricedownBL";
    src: url('../../utils/fonts/pricedownbl.ttf') format('truetype');
}

@font-face {
    font-family: "PricedownBL";
    src: url('../../utils/fonts/pricedownbl.ttf') format('truetype');
}

@font-face {
    font-family: 'Sun Deep';
    src: url('../assets/fonts/SunDeep.ttf');
}

@font-face {
    font-family: 'FE';
    src: url('../assets/fonts/FE-FONT.TTF');
}

@keyframes flickerAnimationn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 0.95;
        transform: translateX(0%);
    }
}

h4 {
    text-align: center;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.80);
    outline: none;
    margin-bottom: 0;
    font-size: 20px;
}

body {
    -webkit-user-select: none;
    user-select: none;
    background: none;
    /*background: url(../utils/img/bg3.jpg);*/
    background-size: cover;
    overflow: hidden;
}