/* Weapons */

#WeaponsLic {
    display: none;
    animation: fadeInLeft 1.5s;
    top: 150px;
    right: 10px;
    width: 500px;
    height: 300px;
    background-image: url(../assets/wepLicense.png);
    background-size: 100% 100%;
    position: absolute;
    z-index: 10;
}

#WeaponsLic-name {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    top: 24%;
    left: 28px;
}

#WeaponsLic-birthdate {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    top: 39%;
    left: 28px;
}

#WeaponsLic-signature {
    position: absolute;
    color: #5a8ff1;
    font-size: 20px;
    font-family: Sun Deep;
    font-weight: bolder;
    text-align: left;
    top: 79%;
    left: 5%;
}


/* Weapons-END */